{%  extends 'customers/main.html' %}
{% block content%}
{% include 'customers/navbar.html'%}


<table class="table">
    <thead>
    <tr>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE NUMBER</th>
        <th scope="col">STATE</th>
        <th scope="col">L.G.A</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{ customer.name}}</td>
        <td>{{ customer.email}}</td>
        <td>{{ customer.phone_number}}</td>
        <td>{{ customer.state}}</td>
        <td>{{ customer.lga}}</td>
        <td><a class="btn btn-sm btn-info" href="{% url 'updateCustomer' customer.id %}">Update</a></td>
        <td><a class="btn btn-sm btn-danger" href="{% url 'deleteCustomer' pk=customer.id %}">Delete</a></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}