{%  extends 'customers/main.html' %}

{% block content%}
{% include 'customers/navbar.html'%}

<div class="card" style="width: 18rem;">
  <div class="card-body">

    <p class="card-text">Add Customer</p>

    <a href="{% url 'addCustomer'%}" class="card-link">Add Customer</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <div class="card-body">

    <p class="card-text">View Customers</p>

    <a href="{% url 'customers' %}" class="card-link">View Customers</a>
  </div>
</div>

{% endblock %}